@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
.card-all{
    position: absolute;
}
.slider{
    position: relative;
}

.card-img-top{
    border-radius: 50%;
    width: 50%;
}
.card-out{
    text-align: center;
    border:none;
}
.card-in{
    border-radius: 10px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
    width:105%;
    /*border:none;*/
    /* background:linear-gradient(-315deg,rgba(67, 81, 163, 0.8), rgba(223, 18, 129, 0.8));  */
}

#team-2k19 .card{
   margin-bottom: 20px;
   margin-left: 10px;
   margin-right: 10px;

}
.card-title-main{
    padding-bottom: 40px;
}
.fa-twitter{
    color:#00aced;
    opacity: 0.7;
    
}
.fa-linkedin-in{
    color:#0e76a8;
    opacity: 0.7;
}
.fa-github{
    color: #24292e;
    opacity: 0.7;
}
.description1{
    margin-top: 10%;
}
.matter{
    margin-top: 15px;
}
.fa-twitter:hover,.fa-linkedin-in:hover,.fa-github:hover{
    color:#d5d5d5;
}
.rule{
    border: 2px solid #e6e3dc;
    width: 50%;
    opacity: 0.4;
    border-radius: 50%;
}

